{% extends 'music/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-fluid">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h3>Create a New Account</h3>
                    <form class="form-row" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'music/form-template.html' %}
                    <button type="submit" class="btn btn-success btn-md">Submit</button>

                    </form>
                </div>
            </div>
        </div>
{% endblock %}